.main {
  display: flex;
  justify-content: center;
  align-items: center; /* 수직 중앙 정렬 추가 */
  height: calc(100vh - 120px); /* 헤더와 채팅 입력창 높이 고려 */
  max-width: 80vw;
  width: 50vw;
  margin: 0 auto;
}

.text {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to right, red, blue); /* 알록달록한 배경색 설정 */
  -webkit-background-clip: text; /* 배경색을 텍스트에만 적용 */
  -webkit-text-fill-color: transparent; /* 텍스트 색상을 투명하게 설정 */
}
